<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shape.dao.TeacherDao">

    <sql id="teacher_colums">id,name,sex,level,age,phone,email,address</sql>
    <sql id="teacher_class_colums">
          teacher.id as id,
          teacher.name as name,
          teacher.sex as sex,
          teacher.level as level,
          teacher.age as age,
          teacher.phone as phone,
          teacher.email as email,
          teacher.address as address
  </sql>

    <insert id="insertTeacher">
        INSERT INTO teacher VALUES
            ( #{id},#{name},#{sex},#{level},#{age},#{phone},#{email},#{address})
    </insert>

    <select id="queryTeacher" resultType="com.shape.entity.Teacher" parameterType="com.shape.query.TeacherQuery">
        SELECT <include refid="teacher_colums"></include>
        FROM teacher
        <where>
            <if test="teacherId != null">
                id like CONCAT('%',#{teacherId},'%' )
            </if>
            <if test="teacherName != null">
               AND name like CONCAT('%',#{teacherName},'%' )
            </if>
        </where>
    </select>

    <select id="queryTeacherByClassIdFromClassTeacher" resultType="com.shape.entity.Teacher" parameterType="java.lang.Integer">
        SELECT <include refid="teacher_class_colums"></include>
        FROM teacher,class_teacher where teacher.id = class_teacher.teacher_id and class_teacher.class_id=#{classId}
    </select>

    <select id="queryTeacherByClassIdFromClass" resultType="com.shape.entity.Teacher" parameterType="java.lang.Integer">
        SELECT <include refid="teacher_class_colums"></include>
        FROM teacher,class where teacher.id=class.master_id and class.id=#{classId}
    </select>

</mapper>